th.column-typp_id,
td.column-typp_id {
  display: none;
}
.typp-btn {
  margin-bottom: 1rem !important;
}
.typp-btn-remove {
  color: #cc1818 !important;
}
.typp-btn-remove:hover {
  color: #9e1313 !important;
  z-index: 10;
}